@import "tailwindcss";

@layer base {
  :root {
    --background: #202225;
    --foreground: #ffffff;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}